.post {
  width: 40%; 
  margin: 0 auto; 
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;

  &__icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
  }

  &__image {
    width: 70%; 
    margin: 0 auto; 
    height: auto !important;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }

    &__body {
      display: flex;
      gap: 12px;
      align-items: center;
    }

    &__bodySp {
      margin-top: 2px;
      font-size: 16px;
    }

    &__headerSp {
      display: flex;
      align-items: center;
      color: #555;
      font-size: 14px;
    }
    
    &__badge {
      margin-right: 4px;
      color: #1da1f2; 
    }

    .post__dropdown {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 40px;
        color: #555;
        cursor: pointer;
  
      .post__span {
        cursor: pointer;
  
        &:hover + .post__dropdownSp {
          display: block;
        }
      }

        .post__dropdownContent {
          display: none;
          position: absolute;
          top: 0px;
          right: 0;
          display: flex;
          align-items: center;
          color: #5c6063;
          font-size: 24px;
          font-weight: 600;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 16px;
          margin-bottom: 16px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          position: relative;
        }

      .post__dropdownContent p {
        font-size: 16px !important;
      }
}


.Photos {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
}